*{
    box-sizing: border-box;
}

.lookup-wrapper > h2, p{
    text-align: center;
}
.lookup-wrapper{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}
input,button{
    width: 30vw;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.125rem;
    padding: 0.125rem;
}
.lookup > button{
    width: 5vw;
    border: 1px solid rgb(88, 88, 228);
    background: white;
    cursor: pointer;
    color: rgb(88, 88, 228);
}
.lookup > input{
    border: 2px solid rgb(88, 88, 228);
    background: white;
    color: rgb(0, 0, 0);
}
.meal-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0rem 3rem;
}
.meal-item{
    background: rgb(88, 88, 228);
    padding: 1rem;
    margin: 2rem 0;
    width: 25vw;
    border-radius: 1rem;
}
.meal-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 1rem;
}
.meal-name{
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    color: white;
}
.btn{
    width: 100%;
    margin-top: 1em;
    background: white;
    border: 1px solid white;
}
.recipe-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(80, 87, 192, 0.95);
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    max-height: 70vh;
    width: 50vw;
    overflow-y: auto;
}

.recipe{
    text-align: left;
    padding: 0.5rem;
}
.recipe-header{
    margin-left: 0.5rem;
    font-size: large;
}
#link{
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    background: rgb(0, 0, 0);
    border-radius: 1rem;
    text-align: center;
    margin: 0.5rem;
}

.close-btn i{
    position: absolute;
    right: 0;
    cursor: pointer;
    margin: 1rem;
    font-size: 2rem;
}

.clear{
    display: none;
}