*{
    box-sizing: border-box;
}
.lookup-wrapper{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input,button{
    width: 30vw;
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.125rem;
    padding: 0.125rem;
}
.lookup > button{
    width: 5vw;
    border: 1px solid yellow;
    background-color: rgb(236, 236, 162);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.lookup > input{
    border: 1px solid rgb(226, 70, 104);
    background-color: rgb(238, 144, 144);
    color: rgb(0, 0, 0);
}
.meal-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem 3rem;
}
.meal-item{
    background: rgb(88, 88, 228);
    padding: 1rem;
    margin: 2rem 0;
}
.meal-img img{
    width: 20vw;
}
.meal-name{
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    color: white;
}